In [4]:
# Import third-party libraries
import pandas as pd
import yfinance as yf
import ploty.express as px

ModuleNotFoundError: No module named 'ploty'

In [ ]:
# Extracting data
def extract_data(ticker: str, period: str = '6mo') -> pd.DataFrame:
    '''
        Use the streamlit's data cache for archive function output and avoid redundant processing.
        Define the function to extract historical stock data based on the given ticker and period.

        Parameters:
            ticker (str): The stock ticker symbol.
            period (str): The period for which to fetch historical data. Default is '6mo'.
    '''

    # Fetch historical stock data
    stock = yf.Ticker(ticker)

    # Get historical data for the specified period
    hist = stock.history(period=period)
    # Reset index to convert the Date index into a column
    hist.reset_index(inplace=True)

    return hist

data = extract_data('AMZN')
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2025-07-07 00:00:00-04:00,223.000000,224.289993,222.369995,223.470001,36604100,0.0,0.0
1,2025-07-08 00:00:00-04:00,223.919998,224.000000,218.429993,219.360001,45692000,0.0,0.0
2,2025-07-09 00:00:00-04:00,221.070007,224.289993,220.470001,222.539993,38155100,0.0,0.0
3,2025-07-10 00:00:00-04:00,221.550003,222.789993,219.699997,222.259995,30370600,0.0,0.0
4,2025-07-11 00:00:00-04:00,223.580002,226.679993,222.369995,225.020004,50518300,0.0,0.0
...,...,...,...,...,...,...,...,...
122,2025-12-29 00:00:00-05:00,231.940002,232.600006,230.770004,232.070007,19797900,0.0,0.0
123,2025-12-30 00:00:00-05:00,231.210007,232.770004,230.199997,232.529999,21910500,0.0,0.0
124,2025-12-31 00:00:00-05:00,232.910004,232.990005,230.119995,230.820007,24383700,0.0,0.0
125,2026-01-02 00:00:00-05:00,231.339996,235.460007,224.699997,226.500000,51399100,0.0,0.0
126,2026-01-05 00:00:00-05:00,228.839996,234.000000,227.179993,233.059998,45804714,0.0,0.0

In [ ]:
# Display data information
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 127 entries, 2025-07-07 00:00:00-04:00 to 2026-01-05 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          127 non-null    float64
 1   High          127 non-null    float64
 2   Low           127 non-null    float64
 3   Close         127 non-null    float64
 4   Volume        127 non-null    int64
 5   Dividends     127 non-null    float64
 6   Stock Splits  127 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 7.9 KB